// ---------declaring variables----------------------------
// COLORS
$color-white: #fff;
$color-grey: #777;
$color-light-white: #eee;

// GRID
$max-grid-width: 114rem;
$gutter-bottom-width: 5rem;
$gutter-right-width: 6rem;

// ---------declaring variables----------------------------
