/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

$color-white: #fff;
$color-grey: #777;

@mixin text-decorator {
  text-transform: uppercase;
  text-decoration: none;
}

%anime-time-1s-ease-out {
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 20px;
  padding: 10px;
  font-weight: 500;
  color: $color-grey;
  width: 100%;
}

.header {
  background-image: linear-gradient(to right bottom, #7ed56f3d, #28b485cf),
    url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative;
  animation-name: moveIn;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.img-logo-main {
  position: absolute;
  top: 40px;
  left: 40px;

  animation-name: moveIn;
  @extend %anime-time-1s-ease-out;

  .img-logo {
    height: 40px;
  }
}

.header-text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: auto;
}

.header-primary {
  color: $color-white;
  margin-bottom: 40px;

  backface-visibility: hidden;
  @include text-decorator;
}

.header-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 40px;

  animation-name: moveInLeft;
  @extend %anime-time-1s-ease-out;

  /* animation-direction: reverse; */
}

.header-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 24.5px;

  animation-name: moveInRight;
  @extend %anime-time-1s-ease-out;
}

@keyframes moveIn {
  0% {
    opacity: 0;
  }
  75% {
    /* transform: translate(-15); */
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  75% {
    transform: translateX(15px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
    /* transform: translate3d(0); */
  }
  75% {
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  @include text-decorator;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
  font-size: 15px;

  animation: moveUp 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: $color-white;
  color: $color-grey;
}

.btn::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.btn-white::after {
  background-color: $color-white;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

@keyframes moveUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}
